<configuration>
  <skin ID="Default">
    <control data-sfwControlType="sfwNumber" sfwDataFormat="{0:999999999}" />
    <control data-sfwControlType="sfwSSN" sfwDataFormat="{0:000-##-####}" />
    <control data-sfwControlType="sfwPhone" sfwDataFormat="{0:(###)###-####}" />
    <control data-sfwControlType="sfwCurrency" sfwDataFormat="{0:C}" />
    <control data-sfwControlType="sfwPercentage" sfwDataFormat="{0:P}" />
    <control data-sfwControlType="sfwDate" sfwDataFormat="{0:d}" />
    <control data-sfwControlType="sfwDateTime" sfwDataFormat="{0:g}" />
    <control data-sfwControlType="sfwTime" sfwDataFormat="{0:t}" />
  </skin>
  <dataformats />
</configuration>
