<configuration>
  <webSettings>
    <Bundles>
      <item key="OverrideControls" value="JQueryControls.PlotlyChart,JQueryControls.HtmlEditor,JQueryControls.FileUpload" />
    </Bundles>
    <Security>
      <item key="AllowedReferrerDomains" value="*" />
    </Security>
  </webSettings>
  <jsSettings basemodule="ns.Settings">
    <App basemodule="ns.Settings">
      <item key="iblnAutoInit" value="true" />
      <item key="LandingPage" value="wfmMenuMaintenance" />
      <item key="iblnSetLandingPageFromInit" value="true" />
    </App>
    <Error basemodule="ns.Settings">
      <item key="iblnOnFocusOut" value="true" />
      <item key="iblnHighlightAllControls" value="true" />
    </Error>
    <Grid basemodule="ns.Settings">
      <item key="iblnHidePagesFromPaging" value="true" />
      <item key="iblnImagesForPaging" value="true" />
    </Grid>
    <Lookup basemodule="ns.Settings">
      <item key="iblnAutoSearch" value="false" />
    </Lookup>
    <Corr basemodule="ns.Settings">
      <item key="UseLocalTool" value="true" />
    </Corr>
    <RouteNames basemodule="ns.Settings">
      <item key="istrDefault" value="sfw" />
      <item key="istrStorageDefault" value="sfwStorage" />
      <item key="istrSPAUrlHashStart" value="/" />
    </RouteNames>
  </jsSettings>
  <themes>
    <theme name="Sandstone" isDefault="true" />
  </themes>
  <bundles>
    <add key="AppSideAccountCss" type="scss">
      <item path="Styles/sfwAccountLogo.scss" />
      <item path="Styles/sfwLogo.scss" />
    </add>
    <add key="AppSideDefaultCss" type="scss">
      <item path="Styles/sfwLogo.scss" />
    </add>
  </bundles>
</configuration>
